In [2]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///resources/hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

Base.classes.keys()

# save references to eah table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement.date,Measurement.tobs).filter(extract('month', Measurement.date ) == 6).all()

In [6]:
#  3. Convert the June temperatures to a list.
june_temp_list = session.query(Measurement.tobs).filter(extract('month', Measurement.date ) == 6).all()

In [12]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temp_df = pd.DataFrame(june_temp_list,columns = ['june_temps'])

In [44]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp_df.describe()

        june_temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement.date,Measurement.tobs).filter(extract('month',Measurement.date) == 12).all()

In [9]:
# 7. Convert the December temperatures to a list.
dec_temp = session.query(Measurement.tobs).filter(extract('month',Measurement.date) == 12).all()

In [13]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp_df = pd.DataFrame(dec_temp, columns = ['december_temps'])

In [55]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp_df.describe()

       december_temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

### Additional queries for Hawaii weather data analysis

In [63]:
# Precipitation in the month of June
june_prcp = session.query(Measurement.prcp).filter(extract('month',Measurement.date) == 6).all()

In [62]:
# summary statistics for precipitation in the month of June
june_prcp_df = pd.DataFrame(june_prcp, columns = ['june_prcp'])
june_prcp_df.describe()

         june_prcp
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [73]:
# Precipitation in the month of December
december_prcp = session.query(Measurement.prcp).filter(extract('month',Measurement.date) == 12).all()

In [76]:
# summary statistics for precipitation in the month of December
december_prcp_df = pd.DataFrame(december_prcp, columns = ['december_prcp'])
december_prcp_df.describe()

       december_prcp
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000